@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background: linear-gradient(
    to right,
    #f8fafc,
    #eef2ff,
    #f5f3ff
  );
  overflow-x: hidden;
} */

body{
  background: linear-gradient(
    to right,
    #f8fafc,
    #ecfeff,
    #f5f3ff
  );
}
html {
  /* Apne navbar ki height ke hisaab se is value ko adjust karein (e.g., 80px, 100px) */
  scroll-padding-top: 5rem; 
  scroll-behavior: smooth;
}